[2019-01-14 17:28] maxfrischknecht opened #1 "PHP Fatal Error – yii\base\ErrorException"
Hi!

After adding the plugin via composer, make a calendarize field and adding this field to a channel section entry, I get the following error after trying to save the entry:

`
yii\base\ErrorException: Method unionco\calendarize\models\CalendarizeModel::__toString() must not throw an exception, caught TypeError: Return value of unionco\calendarize\models\CalendarizeModel::__toString() must be of

[2019-01-14 22:19] fvaldes33 commented on #1
@maxfrischknecht,

Thank you for reporting this bug. Updated the schema version along with a migration to fix this issue. Seemed to be an issue with null values and table columns being `ALLOW NULL` false.

Fixed on 1.1.8 [683f0fd](https://github.com/unionco/calendarize/commit/f8a703d357afe524c2b7a0b6b57997018d05d968)

[2019-01-18 12:28] janmeeus opened #2 "Feature request: repeat yearly"
@fvaldes33
It would be nice to have an extra Repeat Type "Yearly" - for like yearly recurring dates.
e.g. : Holidays, Birth Days…

[2019-01-18 21:52] missmatsuko commented on #2
I think every 2 weeks (biweekly) is also a somewhat common one. Maybe there can be a way to add custom repeat rules?

[2019-01-19 15:51] fvaldes33 commented on #2
@janmeeus @missmatsuko - two great things to add to the roadmap. I think I can add the yearly and biweekly quite simply. For custom repeat rules, I might need to plan out and figure out how to accomplish that. If you have something in mind, feel free to make a pull request.

Will touch back once yearly and biweekly have been added.

[2019-01-20 00:16] fvaldes33 commented on #2
1.1.9 - Added yearly and biweekly to the repeat options.

@missmatsuko - I will add custom repeat rules to the roadmap. Thanks for the suggestion.

Fix: [187e948](https://github.com/unionco/calendarize/commit/187e9489f1b713322101739328074ef63e3ce86a)

[2019-01-20 00:16] #2 closed

[2019-01-24 16:29] janmeeus opened #3 "Bug: Queries with additional criteria return unexpected results"
There is a problem when using additional criteria on queries, like limit:
[code]

This results in 2 errors:

1. Only one result returned. Expected result: 4.
2. The order of resulting entries is not the chronological order of the events.

If more information is needed, don't hesitate to ask!

[2019-01-24 16:52] fvaldes33 commented on #3
@janmeeus - Could you possible send me a copy of the database? Or maybe just send me the events you have entered?

Thanks

[2019-01-25 04:24] #3 closed, assigned to nobody

[2019-01-25 08:34] janmeeus commented on #3
@fvaldes33 Thanks for the quick reply!
After updating to 1.1.12 no results are returned, even when using the simplest queries.
E.g.
[code]
I tried clearing the cache. No fix. Reverting to v1.1.9 did return results.

[2019-01-25 13:12] fvaldes33 commented on #3
@janmeeus - Could you send me a copy of your db? Would like to see where I am missing something. Just tried your above snippet on my testing DB and it still returns entries.

[2019-01-25 14:08] janmeeus commented on #3
Sorry I can't do that, but here are the steps to recreate:

1. Create Calenderize field `calendar`.
2. Create new section `events` as a channel
3. Add the `calendar` field to the `events` section
4. In this order, add following entries:
5. Christmas, 2019-12-25, Repeating yearly
6. Easter, 2019-04-21, Repeating yearly
7. New Year, 2019-01-01, Repeating yearly

Following code returns 0 results:
[co

[2019-01-25 16:19] fvaldes33 commented on #3
Took your steps and did find the issue - typo in the query itself.

`{% set entries = craft.calendarize.upcoming({ section: ['events'], limit: 1 }) %}`

[code]

`{% set entries = craft.calendarize.upcoming({ section: ['events'] }) %}`

[code]

I also found a minor issue with the limits, so i moved the limit criteria to after the entries are sorted.

Fixed in 1.1.13 [3054dcb](https://github.com/uni

[2019-01-29 14:20] janmeeus opened #4 "Feature request: Admin translation"
Is it possible that we can add our own translations for the plugin (labels like "All Day" for example) ?
e.g. in `translations/<language>/calendarize.php`

[2019-01-29 14:38] janmeeus commented on #3
@fvaldes33
Thanks for the quick fix!

There are two things that came up with some new testing (both times using "All Day" on):

1. When adding an occurence (not repeating) with startDate 2018-02-20 (so "in the past"), it still shows in the results when using `craft.calendarize.upcoming`

1. When adding a yearly occurence that lasts several days (e.g. 20-02-2019 to 24-02-2019), I can only display t

[2019-01-29 14:57] fvaldes33 opened #5 "Issue with past dates still showing up in upcoming"
@janmeeus - Opening a new ticket for these other issues

When adding an occurrence (not repeating) with startDate 2018-02-20 (so "in the past"), it still shows in the results when using craft.calendarize.upcoming.

[2019-01-29 14:58] fvaldes33 opened #6 "Entries that span multiple days cannot access end date"
@janmeeus - Opening a new ticket for these other issues

When adding a yearly occurrence that lasts several days (e.g. 20-02-2019 to 24-02-2019), I can only display the startDate of the next occurrence ({{ event.calendarizeHandle.next }}), but not the endDate of the next occurrence.

[2019-01-29 16:59] richardwiggins opened #7 "Can I access the time and date as separate entities from startDate?"
Can I access the time and date as separate entities from startDate?

For example if I add `{{ event.calendarizeHandle.startDate.format('j M Y H:i:s') }}` I get a time of midnight even if a time has not been selected.

[2019-01-29 17:02] richardwiggins opened #8 "Change format of dateTime.readable"
Is it possible to change the formatting of the dates within`{{ entry.dateTime.readable }}`?
Also potentially the formatting of the wording/terminology?

[2019-01-29 17:26] richardwiggins opened #9 "craft.calendarize.upcoming is not working for me"
I'm trying to use your standard method for listing upcoming entries like this; `{% set entries = craft.calendarize.upcoming({ section: ['events'] }, 'desc') %}` for I'm getting a Twig runtime error:

_events_ is the name of the section I'm attempting to list entries from, just to confirm.

[2019-01-29 18:46] fvaldes33 commented on #9
I can assume that there might be some clashing with field handles during the sorting method. The plugin doesnt/shouldnt interfere with the CategoryQuery at all. Could you supply a copy of your database? If not, just an over view of the fields you are using and how you are using them?

[2019-01-29 18:49] fvaldes33 commented on #8
Although not currently implemented, I can add options to the `readable` method that match the options in [RRULE](https://github.com/rlanvin/php-rrule/wiki/RRule#humanreadablearray-opt)

[2019-01-29 19:01] fvaldes33 commented on #7
The `startDate` field is a standard craft DateTime field and returns a `DateTimeHelper::toDateTime` instance. I would suggest to wrap it in a conditional like below:

[code]

[2019-01-29 23:08] fvaldes33 commented on #8
@richardwiggins

Added this in the latest release.

Added [a045aff](https://github.com/unionco/calendarize/commit/a045afffe7fc74924253c00d72b8464a838a4231)

[2019-01-29 23:08] #8 closed

[2019-01-29 23:09] fvaldes33 commented on #5
@janmeeus

Updated the query to account for non repeating events.

Added [a045aff](https://github.com/unionco/calendarize/commit/a045afffe7fc74924253c00d72b8464a838a4231)

[2019-01-29 23:09] #5 closed

[2019-01-29 23:10] fvaldes33 commented on #7
Closing.

[2019-01-29 23:10] #7 closed

[2019-01-29 23:16] fvaldes33 commented on #6
Suggestion would be to add a new method `nextEnd` or `nextRange` for example that will return the end date or an object with both the start and end date.

The `nextRange` method would return an object with both the start and end date and used like below:

[code]

Otherwise, I could change the `next` functionality to work like above but that would not be backwards compatible.

[2019-01-30 11:39] richardwiggins commented on #9
Hi, you can download a copy of the [DB here](https://www.dropbox.com/s/xzgfcsinahpi7ur/craft_culturemk30-01-201911-38.sql?dl=0).

[2019-01-30 11:42] richardwiggins commented on #8
Thanks! Bit confused how I go about using RRULE in Craft though 😕

[2019-01-30 13:20] fvaldes33 commented on #8
No worries... Below is an example. Let me know if this helps.

[code]

[code]

[2019-01-30 15:23] fvaldes33 commented on #9
@richardwiggins - Good find. Fixed in the latest commit.

Fixed [85f8a3e](https://github.com/unionco/calendarize/commit/85f8a3e858139fe3b28f80efa1a29ed1c227095b)

[2019-01-30 15:28] #9 closed

[2019-02-01 16:30] richardwiggins opened #10 "Trying to display events by; 'this week', 'next week', 'beyond' etc"
I am attempting to list out events grouped by _this week_, _next week_ and _beyond_. I can get this working with a native custom date field like so:

[code]

But as I'm now trying to use the lovely Calendarize the above is no good to me so I've tried variations on to use `dateTime.startDate` instead:

i.e. `{% set eventsThisWeek = craft.entries.section('events').dateFrom(['and', '<= ' ~ thisWeek ]

[2019-02-08 09:25] richardwiggins commented on #10
Don't suppose anyone has any ideas on this one?

[2019-02-08 23:44] fvaldes33 commented on #10
@richardwiggins - I am going to take a look over the weekend. I'll comment back on here my findings.

[2019-02-11 15:24] fvaldes33 commented on #10
@richardwiggins - I was able to add a `between` method to the calendarize twig variable. Usage looks something like this:

[code]

Added in [81c365b](https://github.com/unionco/calendarize/commit/81c365b45318ab3636a1342241db0556b0c1c3c7)

Let me know is this works for you.

Thanks!

[2019-02-11 17:10] richardwiggins commented on #10
@fvaldes33 Thanks so much for looking into this, really appreciated but I think something is now broken. I have updated the plugin and even without adding your above example I'm an Exception error from line 288:

`throw new \Exception('Cannot use RRULE with non repeating values', 1);`

[2019-02-11 19:07] fvaldes33 commented on #10
@richardwiggins - my mistake on that last commit. The usage of RRULE needs to be conditionally created differently for non repeating instances. Just pushed the patch for that.

Commit: [9cc016a](https://github.com/unionco/calendarize/commit/9cc016aac4e329be3b62d1197baedd3eda41e7f1)

[2019-02-12 08:27] richardwiggins commented on #10
@fvaldes33 Thanks man, it's working now but I am getting some slightly unexpected results with your example code. It's outputting the start/end dates seemingly correctly; `This Month: 2019-02-01 to 2019-02-28`, but then it's listing all events, not just events within that time period.

I'm now also getting every repeating occurrence which i.e. an event is repeating 3 times a week and now listing e

[2019-02-12 15:05] fvaldes33 commented on #10
@richardwiggins - I cannot reproduce the events outside of the time period given. Maybe send over a DB so I can reproduce with your data.

In regards to the repeating occurrences, I believe if someone is looking for all occurrences between dates, after a date or in general upcoming, it should display all of them and not just the entry (parent element) itself.

I am open to suggestions on how this

[2019-02-12 15:45] richardwiggins commented on #10
Thanks, DB attached.

I think both would be really useful. I can see benefits of each in different use cases.

We're still working out how we want to handle the recurring events on the site tbh. There's even some consideration to showing recurring events completely separately in their own listing but still not sure about this. I haven't tried but is it currently possible to create an `if` statemen

[2019-02-12 16:11] fvaldes33 commented on #10
@richardwiggins - ill take a look at the db now. To answer your other question, you should be able to perform the code you posted.

[2019-02-12 21:00] fvaldes33 commented on #10
@richardwiggins - after fixing the RRULE logic there was left over code that was dumping none repeating events in the array of occurrences when it shouldn't have. Fixed now in 1.2.3.

Fixed [724a68c](https://github.com/unionco/calendarize/commit/724a68c88451823b72eb38d04677685e8114fd24)

[2019-02-12 21:00] #10 closed

[2019-02-12 21:15] richardwiggins commented on #10
Cool, thanks man. Will check it out tomorrow after my meetings.

[2019-02-13 00:55] langlers opened #11 "Reverting entry to previous version causes calendarize field data to be lost."
In Craft 3.1.8, if I revert an entry that uses a Calendarize field to a previous version, all the data in the Calendarize field is lost.

[2019-02-13 09:22] robarov opened #12 "calendarizeHandle.next: backward compatibility issue"
Using the latest version `1.2.3`
## Bug
`{{ event.calendarizeHandle.next|date('D. j F Y')  }}` now returns error
`Object of class unionco\calendarize\models\Occurrence could not be converted to string`

## Expected
In previous version, this returned `Fr. 15 februari 2019`

## Workaround
Use `{{ event.calendarizeHandle.next.format('D. j F Y')  }}`
or  `{{ event.calendarizeHandle|date('D. j F Y')  }

[2019-02-13 09:26] robarov opened #13 "No localisation when using calendarizeHandle.next.format"
Using the latest version `1.2.3`

## Bug
`{{ event.calendarizeHandle.next.format('j F Y')  }}` returns `20 march 2019` in English.

## Expected
Should return the system-translated `20 maart 2019` (if the system language is Dutch).

## Workaround
Use  `{{ event.calendarizeHandle|date('D. j F Y')  }}`

[2019-02-13 10:00] robarov opened #14 "How to get events for a certain year"
How do I accomplish the following:

I have 12 single-day events, all yearly repeating:
- 1 jan 2012
- 1 feb 2012
- 1 mar 2012
- 1 apr 2012
- 1 may 2012
- 1 jun 2012
- 1 jul 2012
- 1 aug 2012
- 1 sep 2012
- 1 oct 2012
- 1 nov 2012
- 1 dec 2012

Now, to get all entries for the year 2023 and display their exact dates:
[code]
This gets all relevant entries, how to display their dates?
This seems not p

[2019-02-13 14:02] fvaldes33 commented on #14
Give this a try:

In my database I recreated your above events. Yearly repeating single day events. The `between` method returns the occurrences between the correct dates in the `Occurrence` model that acts like a proxy to the entry with the correct `next` occurrence.

[code]

The difference here being that I am accessing the `next` property on the occurrence instead of the `next` property on the

[2019-02-13 14:08] fvaldes33 commented on #13
Looking into how Craft handles the date time fields, they also do not have localization because they are just using the php `DateTime` class that does not adhere to locales. Like you have discovered, the date twig filter *does* take this into account. Both snippets from Craft are below. So I think your workaround is the correct way of generating correctly formatted dates.

[code]

[code]

[2019-02-13 14:08] #13 closed

[2019-02-13 14:13] fvaldes33 commented on #12
Missed this in my last commit. I added the toString method to the Occurrence model now. As I mentioned in issue [#13](https://github.com/unionco/calendarize/issues/13), using the date twig filter would work better than the format method to ensure localization.

Fixed in [ae68f56](https://github.com/unionco/calendarize/commit/ae68f5674bc622aaa8c8a2cf47a7fe02f40e1595)

[2019-02-13 14:13] #12 closed

[2019-02-13 14:38] robarov commented on #13
I agree, but which of these two would be preferable now #12 is fixed:
1. `{{ event.calendarizeHandle|date('D. j F Y') }}`
2. `{{ event.calendarizeHandle.next|date('D. j F Y') }}`

[2019-02-13 15:02] robarov commented on #14
Thanks for the feedback!
I updated to `1.2.4` with these results:

[code]
Returns 2022-01-01 , 2022-02-01 etc...

[code]
Returns 2020-01-01 , 2020-02-01 etc...

After your comment, I now understand this is expected behaviour.
Maybe some more info in the README would be welcome.

[2019-02-13 15:02] #14 closed

[2019-02-13 15:05] robarov commented on #6
Maybe something like this?
[code]
Of course, it `.next` should always return the starting date, even if there is no `endDate`.

[2019-02-13 15:06] fvaldes33 commented on #13
Depends on your usage. Let me know if the below use cases are clear.

### Use Cases

#### Use Case for `{{ event.calendarizeHandle.next|date('D. j F Y') }}`:

This would just return the entries themselves and not all of their occurrences.

[code]

#### Use Case for `{{ event.next|date('D. j F Y') }}`:

Need to display a full calendar, with all instances of the event, repeatable or not. So in this

[2019-02-13 15:08] robarov commented on #13
Understood!

[2019-02-13 15:17] fvaldes33 commented on #14
Thanks for the feedback. I will be updating the read me with some use cases also.

[2019-02-14 16:06] richardwiggins commented on #10
Hi @fvaldes33, on the whole I've got this working much better now but I'm running into what I see is an issue with entries that have dates which span a past date.

Basically, if I have an event which has a date in the past but its end date is sometime in the future it won't display. Am I missing something? Is it already possible?

[2019-02-14 16:13] richardwiggins opened #15 "Entry not saving repeating dates, days of week"
I've just updated an event which is a repeating (weekly) entry to change/remove some days of the week, but upon saving it's still showing the previously selected days.

Other fields save and update correctly.

[2019-02-15 03:47] fvaldes33 commented on #10
@richardwiggins - I will have to look into this. Everything I have read and seen in regards to the RRULE uses a single date and not a date span.

I will put this on the roadmap.

[2019-02-15 03:53] fvaldes33 commented on #15
@richardwiggins - this was a bug introduced when added some other functionality. Fixed in my latest commit. [Commit](https://github.com/unionco/calendarize/commit/cc60568a5df96ed127cd3a7e1c82d08f9fbfc1ae)

[2019-02-15 03:53] #15 closed

[2019-02-15 09:19] richardwiggins commented on #10
@fvaldes33 Thanks. Hope you can see what I mean though.

[2019-02-17 21:57] fvaldes33 commented on #4
Added translations last commit

Fixed [bc7cd42](https://github.com/unionco/calendarize/commit/bc7cd42eb350f942074fdfb8ec8400531e65ce4e)

[2019-02-17 21:57] #4 closed

[2019-02-17 21:58] fvaldes33 commented on #11
Thanks for the find.

Fixed [bc7cd42](https://github.com/unionco/calendarize/commit/bc7cd42eb350f942074fdfb8ec8400531e65ce4e)

[2019-02-17 21:58] #11 closed

[2019-02-20 17:09] alexr8 opened #16 "Error when revisiting event"
I've been playing around with this plugin (which is exactly what i needed, and looks great!). I saved an event, and when i try to view my entry again in the admin, i get the following error:

![calendarize-screenshot-error](https://user-images.githubusercontent.com/35040195/53109898-cc5fa280-3531-11e9-9c4d-fdbd42799677.jpg)

Unfortunately i can't access the entry to outline all the options i had t

[2019-02-24 22:19] fvaldes33 commented on #16
@alexr8 - Would it be possible to send me a copy of the db? If not, just the contents of the `calendarize` table in the database?

Thanks

[2019-02-24 22:20] #1 closed

[2019-02-25 23:09] langlers opened #17 "Feature Request: "unique" attribute for calendarize.upcoming queries"
First of all, thanks for a great plugin. I love the upcoming query option, but in a few cases, I need to get a list of unique upcoming events, e.g., with only the next upcoming instance of a repeating event---so that each event entry is listed once in the result set. I don't see a "calendarize" way of doing that. Am I missing something obvious or could this be a candidate for a new feature?

[2019-03-08 15:05] myriago opened #18 "Correct Docs"
Can we change documentation from:

`{% set occurrences = event.calendarizeHandle.getOccurrences(limit = 10) %}`

Which will give error to:

`{% set limit=10 %}
{% set occurrences = event.calendarizeHandle.getOccurrences(limit) %}`

Took me a while till I went through all of the combinations to get it right, lets make it easier for others.

[2019-03-09 21:35] fvaldes33 commented on #18
@myriago - This has been fixed in the latest commit. Thanks!

[2019-03-09 21:35] #18 closed

[2019-03-09 21:42] fvaldes33 commented on #17
@langlers - I could propose adding a `unique` flag to the three calendarize methods. This would limit the occurrence to 1.

[code]

[2019-03-09 21:43] fvaldes33 commented on #16
@alexr8 - Any update on this?

[2019-03-11 18:12] langlers commented on #17
@fvaldes33 Sounds great. I think this will be very useful in, e.g., upcoming event widgets. Thanks for the quick response.

[2019-03-11 18:16] langlers opened #19 "Sorting calendarize entries in Craft control panel"
Do you have any advice or guidance on making entries sortable by their calendarize start date in the craft control panel? Is this a potential feature that could be built into the plugin?

I've been working off of brandonkelly's suggestion here:
https://github.com/craftcms/cms/issues/2818#issuecomment-422428099

[2019-03-14 20:13] rockit360 opened #20 "Day of Week recurring entry not working correctly"
I tried to set a recurring event that starts on 04/02/19. The event is supposed to recur on the first Tuesday of each month, however, the plugin reads 04/02/19 as the last Tuesday of the month and 04/09/19 as the first Tuesday of the month. It seems like this is caused by 5 Tuesdays in the same month.

[2019-03-20 23:48] missmatsuko opened #21 "How to search entries with calendarize"
I'm creating a searchable events listing, but I'm not able to get search working.
Here's a minimal example of what I tried to do in Twig, but I end up with an error.
[code]

And I ended up with this error:
[code]

I've got category and date filters working fine, but I haven't been able to get text search working.

[2019-03-21 02:54] fvaldes33 commented on #21
@missmatsuko - looking into this. I have gone back and forth a few times on how the initial query fetches data from the calendarize table and ties it back in to craft elements. Should have a fix in the next few days. Thanks!

[2019-03-21 02:54] fvaldes33 commented on #20
@rockit360 - Seems to be a js issue because it seems to load right on initial load/refresh. Looking into this. Thanks!

[2019-03-21 03:27] fvaldes33 commented on #19
@langlers - Not exactly as straight forward as #2818 because the calendarize data lives on a separate table. I have done something similar in the past for other projects. It would look something like this for calendarize field. The code below should work and once I test it a good amount could add it to the plugin.

[code]

[2019-03-21 14:09] fvaldes33 commented on #21
Fixed in latest commit.

[2019-03-21 14:09] #21 closed

[2019-03-21 14:10] fvaldes33 commented on #17
Added in latest commit.

[2019-03-21 14:10] #17 closed

[2019-03-21 17:10] missmatsuko commented on #21
Working great, thank you!

[2019-04-02 11:27] G17creative opened #22 "Repeat monthly date format bug"
Found a bug within the repeat monthly. It seems like it's using the American date format, m/d/y rather than d/m/y. Selecting a date over the 12th day in a month will cause the 'Every month on the' dropdown to display 'NaNth' and 'undefined undefined'

Selecting the date 12th April 2019, which is a Friday, populates the dropdown to display 'First Wednesday' even though it's the second Friday. It's

[2019-04-12 08:26] alexr8 commented on #16
Hi @fvaldes33 sorry for not feeding back into this. Unfortunately i'd deleted the entry that was causing this and haven't been able to recreate the issue. I'll open a new ticket if it happens again and provide DB as well, but i guess for now you can close this one.

[2019-04-19 08:28] divyan opened #24 "Element query sort by calendarizeHandle possibility?"
Hi!

Is it possible to sort a ElementQuery in Twig by the calendarizeHandle like so?:
{%  set items = craft.entries.relatedTo('events').orderBy(**'calendarizeHandle.startDate asc'**).limit(5).all() %}

I want to get the related entries ordered by the startdate of the event.

[2019-04-22 17:54] angieherrera opened #25 "How to show events older than today only?"
Hi! I've got Calendarize working for part of an Events section on a site. The other section is to show all event prior to today, but paginated. I have it partially working with Craft's paginate tag, but it currently returns ALL entries (as expected).

I'm not sure how to tweak the code to get it to:
1) limit it to events/entries that are older than today (based on the event start date, not the pos

[2019-04-22 19:23] #16 closed

[2019-04-24 02:38] fvaldes33 commented on #22
Sorry for the delay. I just pushed up a commit that should fix this issue, carrying over localization from the PHP side to the JS side and leveraging Moment's localization instead of plain js date.

Commit [29f2643](https://github.com/unionco/calendarize/commit/29f2643036a31f87ee06ccc42fd853958f709671)

[2019-04-24 02:38] #22 closed

[2019-04-24 02:39] fvaldes33 commented on #20
@rockit360 Sorry for the delay. I just pushed up a commit that should fix this issue.

Commit [29f2643](https://github.com/unionco/calendarize/commit/29f2643036a31f87ee06ccc42fd853958f709671)

[2019-04-24 02:39] #20 closed

[2019-04-24 02:41] #19 closed

[2019-04-25 12:47] havardlj opened #26 ""Could not save field.""
Getting "Could not save field." without any error message under any inputs when creating/editing existing calendarize-fields after latest plugin update. Can't find anything in the error logs either.

[2019-04-25 19:18] fvaldes33 commented on #26
@havardlj - it should not be failing silently. The new custom validator only fires on three specific cases.

- If there is a start date there must also be an end date
- If there is a start date it must not be less than the start date
- If the event repeats and repeat ends on a specific date, the End On Date field must be filled

 You can take a look here [CalendarizeValidator.php](https://github.c

[2019-04-25 20:36] havardlj commented on #26
It fails before getting to any of those steps
https://imgur.com/a/PseBmZ6

[2019-04-26 12:22] robbeman commented on #26
I ran into this as well. This is the place where it fails: https://github.com/craftcms/cms/blob/master/src/services/Fields.php#L755

When I commented the `return false;` as an experiment to see if anything breaks the field is saved and seems to work fine.

I do not know much about these validators and I can't seem to figure out which specific validator fails, but maybe it helps to know it's the va

[2019-04-26 17:41] fvaldes33 commented on #26
Just pushed a fix for this. The validation rules were in the incorrect place. I am currently working on adding better unit testing to this plugin to avoid these issues in the future.

[2019-04-26 17:41] #26 closed

[2019-04-29 11:39] havardlj commented on #6
This currently has me looking for an alternative to Calendarize, too bad, cause it's its only shortcoming for my use

[2019-04-29 11:53] havardlj commented on #6
Is there any way of disabling the repeats-part of the calendarize field until this is implemented?

[2019-05-02 14:32] fvaldes33 commented on #6
@robarov @havardlj @janmeeus

This has been added in 1.2.12. Take a look at the readme to see how it was implemented.

Commit: [19f4782](https://github.com/unionco/calendarize/commit/19f478208faa0ba0a8147e139e84623d935e456b)

[2019-05-02 14:32] #6 closed

[2019-05-09 10:54] aelvan opened #27 "Ongoing occurences"
Is there a way to get ongoing events? Ie events that has a start date in the past, and an end date in the future.

[2019-05-09 15:27] richardwiggins commented on #27
I was after this too 😕

[2019-05-14 00:20] missmatsuko commented on #27
Is the problem that `craft.calendarize.upcoming()` only gets events (occurrences) that *begin* in the future, even though the end date has not passed?

Seems like this isn't the behaviour of `craft.calendarize.upcoming()` (yet). Maybe it should do this by default, or as an option.

In the meantime, you *could* make events appear in `craft.calendarize.upcoming()` for their full duration by configur

[2019-05-14 00:37] missmatsuko commented on #25
I don't think there's a dedicated function for getting past events, but you could use `craft.calendarize.between()` to get events from a past date up to the current date, and sort them descending. I'm not sure if there's an oldest possible valid date, but I just put 00 for everything and seemed to work:

[code]

[2019-05-14 00:46] missmatsuko opened #28 "Wording of the repeat frequency field"
I was just noticing that the wording of the repeat fields is awkward (for English, anyways):
![Screenshot of the repeats field](https://user-images.githubusercontent.com/17884198/57662919-8d784080-75a6-11e9-8465-7885eb6087f1.png)

"Repeats every **daily**" is incorrect.
"Repeats every **day**" is correct.

Probably better to either:
1. Change the label 'Every' to 'Repeat frequency' (or similar), *

[2019-05-15 00:33] fvaldes33 commented on #28
@missmatsuko - i think option 2 is also a better solution. I'll update on my next push. Thanks!

[2019-05-15 00:42] fvaldes33 commented on #27
@missmatsuko is correct. The `craft.calendarize.upcoming` method is querying all entries that have not surpassed their end repeat date and generating occurrences based on their repeat rules for future occurrences.

So if there is an entry with a start date of May 1st, repeating daily until May 30th, calling the `craft.calendarize.upcoming` would show you a daily occurrence for that entry from (tod

[2019-05-15 00:44] fvaldes33 commented on #25
Thanks to [incraigulous](https://github.com/incraigulous) that is now possible. You can pass a date in the past to the `between` method to get older occurrences. Maybe in the future I can add a method `before` that would query all occurrence before a given date.

[2019-05-15 10:13] aelvan commented on #27
To summarize, the two possible ways of fetching events at the moment is:

`upcoming`: Which returns occurences of events that has a start date in the future.
`past`: Which returns occurences of events that has a start date in the past.

What I need is a way to get events that has a start date in the past, and an end date in the future.

The repeating hack that @missmatsuko suggested would probably

[2019-05-15 15:34] sonoflee commented on #27
@fvaldes33, would it be possible to clarify how you intended multiple day events to be entered?
The method @missmatsuko describes is how I had assumed that events spanning multiple days would be entered (otherwise, you couldn't specify start and end _times_ for the occurrences), but I could be off base.  Just wondering if more specific instructions in the docs might help clear this up.

[2019-05-15 16:58] missmatsuko commented on #27
I think it depends on the event.

If it's an event that spans multiple days and has a specific start/end time for each day, I think it makes sense to have it be entered as a repeating event.

If it's an event that spans multiple days and is all day, it could be entered as a repeating event or a single long event.

I think it does make sense that single long events don't show up in `upcoming()` bec

[2019-06-04 15:35] j-greig opened #29 "Time and Date exceptions added as incorrect date"
If I add a Monday date it appears as Sunday, Wednesday becomes Friday...

(System language is GB english)

[2019-06-22 15:27] JayBox325 opened #30 "Option to change time to 15 minute increments and different times for multiple day events"
Hi,

I have a client that runs single day and two day events. But in the example of the two day events, Day One is 10:15 to 18:00, while Day Two is 10:15 to 16:00.

Would it be possible to have day timings to be set based on how many days an event spans?

Also, as you'll notice above, the days start at 10:15, whereas the plugin currently only has 30 minute increments for the times.

Love the plugi

[2019-06-22 16:57] JayBox325 commented on #25
I was about to log a ticket for a 'before' method. That would be sweet! But the between method works for now. Cheers

[2019-06-23 02:05] fvaldes33 commented on #25
The before method is in the roadmap. Will be added soon.

[2019-06-23 02:05] #25 closed

[2019-07-10 07:49] DiederikVanHoorebeke opened #32 "Feed Me compatibility"
I was wondering if Calendarize is compatible with Feed Me, and if so, how should the data be structured?

[2019-08-08 13:04] romainpoirier opened #34 "Adding empty Time Exceptions cause error"
It would be nice to prevent the possibility of adding an empty _Time exception_ (empty date + empty time).

On add, a new line with this value is shown: `undefined,`. Then, this error is shown on save: `Call to a member function format() on null`.

And this could caused another cascading issues. For example, after save, I wasn't able to show anymore the current entry section from the CP: `An unkno

[2019-08-19 14:17] codetopixels commented on #24
Has there been a solution for this? Would very much like to use relatedTo

[2019-08-19 14:33] fvaldes33 commented on #24
@divyan  I am a bit behind on some of the feature request. I will be dedicating some time to this plugin this week and the next.

@codetopixels this issue is related to sorting by a calendarize sub-field handle not the "relatedTo" use. What do you mean by adding "relatedTo" functionality?

[2019-08-29 12:15] alexr8 opened #35 "Pagination of upcoming"
I was wondering if there was a way to paginate upcoming events - i tried the following:

[code]
But i get the error along the lines of `Argument 1 passed to craft\helpers\Template::paginateCriteria() must implement interface yii\db\QueryInterface, array given, called in....`

Is there a way i can get paginated upcoming events?

[2019-08-29 16:16] fvaldes33 commented on #35
@alexr8 - This would be a feature request. Main issue is that the calendarize queries need to fetch the entries and then use php sorting to organize the occurrences. The individual occurrences are not stored in the database, they are generated from a configuration using the RRule helper. Because of this, normal database pagination would not be possible. We would need to create a separate paginatio

[2019-08-29 16:27] fvaldes33 commented on #28
Closed with [38775b7](https://github.com/unionco/calendarize/commit/38775b79fbcf7cfa6ac23e0fa54409b254645059)

[2019-08-29 16:27] #28 closed

[2019-08-29 16:28] fvaldes33 commented on #30
Closed with [38775b7](https://github.com/unionco/calendarize/commit/38775b79fbcf7cfa6ac23e0fa54409b254645059)

[2019-08-29 16:28] #30 closed

[2019-08-30 08:38] JayBox325 commented on #30
Amazing, thanks @fvaldes33

[2019-08-30 08:42] JayBox325 commented on #35
Great feature request. This is something I've tried to do, too.

I had designed a page that would show 12 items per page. With the upcoming items being rendered first. So, for example, if there were 4 upcoming events, the first page would output:

- Four upcoming items
- Space with "Past events" title
- Then the remaining eight slots from the pagination's 12 will be filled with previous events

Th

[2019-09-04 09:48] alexr8 commented on #35
As an addition to this (as i think it might stem from the same challenge) - being able to set a limit on the amount of events returned by `upcoming` would be useful, which i don't think there is a way to do right now? E.g. on my homepage i want to show the 2 latest upcoming events, but currently i have to grab all of them, then use slice to output the first 2.

[2019-09-21 11:12] darylknight opened #36 "Changing a day from 'times' to 'all day' doesn't clear the times"
Hey, thank you for this plugin! I'm currently working with it to try and show store opening times.

I have some code which is displaying all the start and end times for event occurences. If that data is changed from having a start/end date to "All Day", the start/end times are still saved, and the front end doesn't correctly update.

Example:
![image](https://user-images.githubusercontent.com/1250

[2019-09-21 11:32] darylknight opened #37 "Plugin causes "Changes that you made may not be saved""
I imagine this is probably something to do with Craft' 3.2 draft functionality, but if this plugin is enabled and used on an entry, trying to exit the entry will cause this message, even if no changes were made:

![image](https://user-images.githubusercontent.com/1250017/65372743-8d86fc00-dc7c-11e9-9885-ae92d75b6e1f.png)

Redactor had the same problem and they fixed it in 2.4.0 if that helps track

[2019-09-21 11:44] darylknight opened #38 "FR: Starting day of the week"
Could we have an option for using Monday as the first day of the week instead of Sunday please?

[2019-09-21 11:49] darylknight opened #39 "Date Exceptions "undefined""
There's something weird going on with the Date Exceptions field.I think this is something to do with the difference between American / English dates, but I'm getting "Undefined, {d/m/Y}" when I select a Date Exception on some repeating entries:

For example, selecting Weds the 4th of September gives me this:

![image](https://user-images.githubusercontent.com/1250017/65372891-c45e1180-dc7e-11e9-9c

[2019-09-21 14:21] fvaldes33 commented on #36
@darylknight - The occurrence will always be a date time regardless whether it is an all day event or not. I see the point to clear out the times and make them 00:00:00 and end at 11:59:59 but you could also just wrap your output in a conditional to check the `allDay` boolean value.

[code]

The `occurrence.allDay` is currently missing from the `OccurrenceModel.php` but I can easily add that in th

[2019-09-21 14:25] fvaldes33 commented on #39
@darylknight - Currently planning on rewriting the UI to use vue which should fix some of these issues. I will be able to pull in some localized time libraries like date-fns or moment to handle these.

[2019-09-21 14:28] fvaldes33 commented on #37
@darylknight - I'll take a look at this. Thanks!

[2019-09-22 08:31] darylknight commented on #36
That makes sense - I hadn't thought to use the `allDay` check, thank you!

[2019-09-22 08:31] #36 closed

[2019-09-22 08:32] darylknight commented on #39
That sounds great, good luck!

[2019-10-01 17:31] daltonrooney opened #40 "FR: GraphQL support"
With GraphQL now included in Craft, it would be great if we could retrieve events using this interface. Maybe this would be a good opportunity to create a paid edition of the plugin for the support of pro features.

[2019-10-18 19:13] mikestecker opened #41 "Upcoming not including "started" multi-day events"
I know `upcoming` implies not started yet, but I'd like to be able to show events that span multiple days until they end before they drop off, is there a way to do this?

[2019-10-18 22:52] mikestecker commented on #41
Update: I thought I'd be clever and just backdate a week using `.after`, however this doesn't work either.

For example:

[code]

However, I put in a test event that is All Day, spanned from the day before today and went a number of days. This event wouldn't output unless the start date has not occurred yet. If the start date is prior to the current day/time, then the event simply won't show.

Is

[2019-10-18 22:54] mikestecker commented on #38
I would think it should respect [Craft's setting](https://docs.craftcms.com/v3/config/config-settings.html#defaultweekstartday).

[2019-10-18 22:55] mikestecker commented on #41
I just realized this is related to #27

[2019-10-29 19:55] joeRob2468 commented on #27
This is just my two cents, but I think it'd be really handy to have upcoming/repeating events that are currently in progress included in the `craft.calendarize.upcoming` query results if their end time/date hasn't already passed, and add a flag that marks them as ongoing (something like `occurrence.ongoing`). That way, we could filter them out if necessary, or add badges to mark ongoing events.

I

[2019-10-31 15:43] alexr8 opened #42 "Error: Call to a member function setTime() on boolean"
I created an event, repeating weekly on a monday, starting a week in the future. Saved it, all good. I went back to view the entry in the admin, and got the following error:
[code]
From then on i had to delete the entry, as i couldn't access it in the admin. Devmode is on, calendarize version 1.2.16.

Unfortunately i can't recreate it at this stage, but i've included a screenshot of the error in c

[2019-11-06 18:47] j-greig commented on #42
We have the exact same bug/error. Not able to pinpoint the cause yet but it's broken the events section of a website so also keen to find a fix. Thank you!

[2019-11-07 00:24] fvaldes33 commented on #42
@alexr8 @j-greig Looks like the start date is a boolean and not a date time instance. I will look into this and provide a fix. Can you send me any more information about your environment? Locale, timezone, etc.

[2019-11-07 10:04] alexr8 commented on #42
I'm running vagrant Homestead on my local machine, PHP 7.2, timezone of Homestead is UTC, looks like timezone of the craft install is UTC-8 Los Angeles (although this should be UK time which i have now changed).

[2019-11-07 11:15] adamski-g commented on #42
I'm working with @j-greig on this issue. The bug is happening for us on the latest version of Craft, PHP version 7.1.30 and MySQL 5.7.27. Let me know if you need any more info. Thanks!

[2019-12-04 16:05] j-greig commented on #42
Hello! Is there any update on this bug? Cheers.

[2019-12-15 15:58] gglnx commented on #42
We got the same problem. Records with this probleme have in the column `exceptions` as value `{"date":null,"timezone":null}` and `timeChanges` as value `{"date":null,"timezone":null,"time":null}`. Setting both values to `[]` fixes it.

PHP 7.3.12, MySQL 5.5.5, Craft CMS 3.3.18.1

[2019-12-15 16:06] gglnx commented on #35
To use default Craft CMS queries and occurrences, we cache the next occurrence in separate columns (`nextStartDate` and `nextEndDate`).

The migration:

[code]

Also a cron job to update the field:

[code]

Maybe this approach helps to fix some issues like pagination and performance.

[2019-12-16 17:26] gglnx opened #43 "Field preview in tables"
Currently the field preview in element tables doesn't respect the language settings of the user. Also it could be simpler without "Next occurrence" and seconds.

<img width="1391" alt="70544508-787b8400-1b6c-11ea-835e-3ce1c4ea6871" src="https://user-images.githubusercontent.com/23519/70928439-58970500-2031-11ea-9cec-006fab715843.png">

[2020-01-14 09:41] j-greig commented on #42
Hello again - is there a rough timeframe for fixing this please? We have had to half-disable our clients events section.

[2020-01-19 01:59] fvaldes33 commented on #42
@j-greig Is possible to get a copy of your database? (If that isn't possible, maybe just a copy of your `calendarize` table should work) I am working with a fresh install and plugin store installed Calenderize. Everything seems to be working. I have tested with and without both date exceptions and date time exceptions. Also not seeing what @gglnx is seeing with the column records `{"date":null,"ti

[2020-01-19 02:52] fvaldes33 commented on #43
@gglnx - What would you propose the format be?

I had this thought? Would this be a better format?
[code]

[2020-01-19 03:17] fvaldes33 commented on #27
To everyone,

My apologize for the delay. Had to take a small pause on open source packages due to some time constraints.

Getting around to this issue now. The main problem _I think_ is in the main calendarize query (below). In order to capture all possibilities this query is pretty complicated. I think I might be able to conditionally change the column handle from `startDate` to `endDate` to cap

[2020-01-19 03:55] fvaldes33 commented on #27
I can also do something at the entry query level and help modify  the query based on the users needs. It would look something like this. `eventDates` being my calendarize field handle.

[code]

[2020-01-19 04:00] fvaldes33 commented on #39
My apologize for the delay. Had to take a small pause on open source packages due to some time constraints.

What locale are you working with?

[2020-01-19 04:20] fvaldes33 commented on #34
Good catch on this. Will be fixed in the next release. Thanks!

[2020-01-19 10:12] gglnx commented on #43
I think the correctly formatted datetime would be better (thats the output for 'long' in Craft CMS, right?).

[2020-01-19 12:06] tommysvr opened #44 "Impossible to access an attribute ("startDate") on a null variable in "__string_template__"
I'm getting this very strange error on pages that don't relate to Calendarize ever since I installed it.

The full error is:
[code]

I receive it when trying to save entries that don't have Calendarize fields; when I do add them, I am able to save the entry without issue. It also occurs when editing a Section itself, despite not having anything to do with Calendarize (I think?)

Hope someone can h

[2020-01-19 12:26] darylknight commented on #39
No worries. My own language is set to `English (United Kingdom)`. The site is in `en-US`, although I ended up using another plugin for that project.

[2020-01-19 14:10] fvaldes33 commented on #43
@gglnx - I agree but I would also like to include the human readable format from RRule to give the user context of the repeating rules (if the event is a repeating event)

<img width="743" alt="Screen Shot 2020-01-19 at 9 09 07 AM" src="https://user-images.githubusercontent.com/8552528/72682483-69f18800-3a9b-11ea-9e95-cfd587578f7e.png">

[2020-01-19 14:13] fvaldes33 commented on #44
@tommysvr - What version of craft and plugin? Also could you provide steps to reproduce. Thanks

[2020-01-19 14:14] fvaldes33 commented on #39
Thanks for the reply. I'll try to get this sorted out anyways.

[2020-01-19 14:16] fvaldes33 commented on #38
@mikestecker - Are you referring to the repeating (weekly) UI? The calendar pickers already adhere to craft's start of the week setting.

[2020-01-19 15:35] gglnx commented on #43
Yes, looks good.

[2020-01-20 11:35] tommysvr commented on #44
Thanks for the reply. I'm running Craft Pro 3.3.20.1 and Calendarize 1.2.16. It's hard to state the exact steps I took, however, I feel like it happened after I deleted the eventDetails field randomly. I understand that's extremely vague, but I'm really not sure what else I could have done to make it happen.

The other thing is, when I push my code and db to the live server, everything works fine.

[2020-02-13 20:54] smockensturm opened #45 "Setting unkown timezone property?"
Throwing this error in the control panel when adding a date exception, THEN saving the entry.

`Setting unknown property: craft\behaviors\CustomFieldBehavior::timezones`

Removing any date exceptions removes this error and allows us to save the entry.

We are using Calendarize  inside a Super Table
Craft Pro 3.4.5
PHP 7.1.16
MySQL 5.5.5
MariaDB 10.1.32

[2020-02-14 12:22] afairhurst commented on #42
Hi, I've just encountered this issue today. Looking into it now.

[2020-03-12 09:47] gglnx opened #46 "Confusing onMonthDay option"
If you create an event on the last monday of April (27th) and select the option to repeat it monthly, the dropdown says "Last Montag" (our installation is in German). After saving the event the dropdown options changed to "Fourth Monday" and the dates for June and August are not the last Monday (because they have five Mondays).

If you use the 30th of March as starting date (which is a 5th Monday)

[2020-03-27 12:41] jules1091 opened #47 "Not able to get all events - first is missing"
If I try to get all my events with the following code
`  {% set entries = craft.calendarize.between('2020-01-01', '2020-12-31', { section: ['events'] }, 'asc') %}`
i only get the occurences without the next occurence on 4.4.

![image](https://user-images.githubusercontent.com/59639959/77756854-554be600-7030-11ea-81a4-1b2775bc5665.png)

<img width="238" alt="Bildschirmfoto 2020-03-27 um 13 39 51" s

[2020-03-30 06:25] #47 closed

[2020-03-31 07:22] jules1091 opened #48 "Return events as an Entry Query instead of an Array"
Is it possible to return all events as an Entry Query instead of an Array as I have to use it with a pagination and it's only possible with an Entry Query?

Thanks a lot!

[2020-04-20 09:52] nealzie opened #49 "Front-end submission"
Hi guys,

This is not an issue but a question, before I try to figure all this out myself only to find out it can't be done: Would it be possible to use these recurring dates when using a front-end form for users to submit an event?

Cheers!

[2020-05-12 13:00] #44 closed

[2020-06-04 09:48] tsawitzki opened #50 "startDate/endDate not accepted"
Hello, I am looping through occurencies like this, successfully retrieving the next occurence in my template as time (eg. 10:00 pm):

[code]

However, now that I want to have the ending time displayed to ("10:00 pm – 11:00 pm"), using `{{ occurence.endDate|date('Y-m-d') }}` throws a templating error, same with using the `startDate` query:

_**Getting unknown property: craft\elements\Entry::endDate

[2020-09-16 14:43] spoeken commented on #45
I'm experiencing that dates chosen show up as different dates than intended as well, and some days display `undefined` as the day of the date in the list.

[2020-09-16 14:45] spoeken commented on #39
Do you have a fix for this? Would really appreciate any help, I just launched a site using this 😕

[2020-09-16 14:47] spoeken commented on #29
I'm having this issue as well. Did you manage to fix it somehow?

[2020-10-05 09:37] j-greig commented on #29
Afraid not, we have stopped using this plugin because of various outstanding bugs.

[2020-10-26 21:18] brandonkelly opened #56 "Fix Composer 2 compatibility"
When installing this plugin with Composer 1, the following deprecation notice is output:

Composer 2 was released on October 24, and is now the default version that will be installed, so it’s critical that this gets resolved ASAP, or people will start getting `Class not found` errors.

To fix, run the following command:

[code]

Then commit your change and [tag a new release](https://craftcms.com/

[2020-10-26 22:58] fvaldes33 commented on #56
@brandonkelly Should be resolved on the latest master branch and tag 1.2.18

Thanks!

[2020-10-26 22:58] #56 closed

[2020-10-27 00:02] brandonkelly commented on #56
Thanks :)

[2020-11-14 23:29] alexhillel commented on #40
Second this request! It would also be great if it would be compatible with the new first party Gatsby Helper plugin.

[2020-11-16 15:39] spoeken commented on #34
Have you had a chance to have a look at this? Seems a `null` is added to the timeChanges array.

[2020-12-09 22:16] palomamtnez opened #57 "Possibility to remove options from Repeat Type - Dropdown [Daily, Weekly, BiWeekly, Monthly, Yearly]"
At the moment it is possible to add an entry that repeats every [Daily, Weekly, BiWeekly, Monthly, Yearly]
But on some occasions, it is just necessary to show the options [Daily, Weekly], or anything that the custom config says.

It would be a great feature for example, just add a json file with that config ?

[code]

Thanks

[2021-04-09 19:16] sonoflee commented on #32
Bumping this one - looking for guidance on how existing dates can be brought into a calendarize field.  Thanks!

[2021-04-30 19:10] laurabennett opened #62 "Ability to add custom recurring dates"
I love being able to add recurring for every nth day or nth day of the week! But sometimes the events we have aren't as regular for instance every holiday there is a sale:
Memorial Day (May 30)
July 4th
Labor day (Sept 6)
etc...

[2021-05-09 16:06] StefKors opened #64 "Installing Calendarize: "CalendarRecord.php does not comply with psr-4 autoloading standard. Skipping.""
I'm not super familiar with Craft CMS and Calendarize. When running `composer install` calendarize I get the following error:

[code]

[code]

Anything I can do to resolve the problem?

[2021-05-09 19:13] StefKors commented on #64
based on this stackoverflow answer https://laracasts.com/discuss/channels/laravel/psr-4-error-with-composer-2

The following change silenced the error:

[code]

Sadly it doesn't solve my underlying craft error yet. 🤷‍♂️

[code]

[2021-05-09 19:15] StefKors commented on #64
Just saw the latest commit, I'll be updating to that version to see if it solves my issue (https://github.com/unionco/calendarize/commit/0c6acc37cdcc5ae3f0493d31c2c527b918f66965)

[2021-05-09 19:22] StefKors commented on #64
alright updating to 1.2.18 solved it

![giphy](https://user-images.githubusercontent.com/11800807/117584332-9f950700-b10c-11eb-8abf-0cfef3da20dc.gif)

[2021-05-09 19:22] #64 closed

[2021-05-18 16:15] laurabennett opened #67 "How do I select the correct date for an recurring event?"
I am trying to get upcoming events that start after an instance of a given event.  Say there is a recurring event every Friday, then I would like to display the date of the future occurrence (after a certain date). This returns the correct event but not the correct occurrence of the event. For example it is giving me 5/28 instead of 6/4 when I search for upcoming events after 6/1.
Here is my code.

[2021-05-24 21:57] palomamtnez opened #68 "Date format options"
is it possible to change the date format to day/month/year rather than month/day/year?

![image](https://user-images.githubusercontent.com/13962572/119412126-8b255100-bd3f-11eb-9b3a-e311975a7df8.png)

[2021-05-24 22:19] palomamtnez commented on #68
After reading the Craft documentation, found out that it is a region/language preference :)

[2021-05-24 22:19] #68 closed

[2021-06-15 20:23] laurabennett commented on #67
event.start and event.end. Removing date.next fixed the problem.

[2021-06-15 20:23] #67 closed

[2021-06-18 19:59] sonoflee opened #71 "Usage in Element API endpoint?"
I'm trying to work up a json feed of events with Element API, and having trouble figuring out how to get calendar occurrences for each event.  Would appreciate guidance if anyone else has had success with this

[2021-07-16 20:28] laurabennett opened #72 "After Query doesn't return multi-day events in the past"
Similar to the problem with upcoming but slightly different.

I have an event for July 2-4, 2021 (now in the past) and another event July 23 - Aug 1. Plus a number of single day recurring events that seem to work as expected.

If I query for events after July 1, the future multi-day event displays but the July 2-4 event does not.
If I query for events between July 1 and July 30 both events display

[2021-08-13 15:47] stephanedemotte commented on #40
+1

[2021-10-06 19:29] laurabennett commented on #72
Is this plugin no longer being supported? It does so much of what I need but a few issues with date filtering are causing it to be unusable for what we need to use it for.

[2021-10-07 01:00] fvaldes33 commented on #32
Calendarize is not compatible with Feed Me. It could be something we add later on but not in the roadmap for now.

[2021-11-17 10:41] bengreenbank commented on #68
Hi. I feel this should be re-opened, as you are correct in that changing the date format in preferences changes the field itself, however the 'Next Occurrence' and 'Occurences' section on the right still has the US formatting. I'm guessing that bit was custom code. Please could it follow the profile preferences as well?

[2021-12-22 23:04] plekvis opened #75 "Readable date translatable in front end"
I'm trying to translate a readable date for a repeating date field in the front end.
I've seen the translation file for the backend. Is it possible to do this in the front end also?

[2022-03-15 11:34] ballmannweber opened #77 "orderBy calendarize field?"
hi there,
is it possible to order by a calendarize field?

I always run in to server error trying it the normal way like .orderBy('calendarizeField desc').

kind regards
matthias

[2022-04-06 15:31] laurabennett commented on #72
Help?? This is still an issue. At this point we will likely need to transfer our calendar to a different plugin.

[2022-05-04 15:45] sonoflee opened #79 "Calendarize plugin compatibility with Craft 4?"
With the upcoming release of Craft 4, I wanted to check to see whether there are plans to update Calendarize to be compatible ([Craft plugin updating info here](https://craftcms.com/docs/4.x/extend/updating-plugins.htm)).  If possible, it would be great to get an idea of your timeline. Thanks!

[2022-05-11 11:20] timoschwarzer commented on #79
Done in #80

[2022-07-04 11:55] tomkiss opened #81 "How to list events currently taking place?"
Hello,

I'm using this plugin's fieldtype on event entries, and in my templates I'd like to display a list of all the currently active events. e.g: June 1st to June 30th Pride month, June 30th to August 20th Summer Sale or December 20th to December 27th Christmas season etc.

In my template then, I'm simply looking to say "The day is today, show all events that are currently taking place" (i.e: to

[2022-09-08 08:44] tomkiss commented on #79
Nice one @timoschwarzer, I'm currently testing this fork on a project, no issues so far!

Is there anyone at UnionCo who could review this PR? @fvaldes33 pretty please? 🥺

[2022-09-08 12:39] sonoflee commented on #79
Thank you to @timoschwarzer for the work, and seconding @tomkiss PR review request for @fvaldes33 - much appreciated!

[2022-09-08 13:23] fvaldes33 commented on #79
Sorry folks! I am no longer at Union. I have let them know about this PR. Not sure open source is top of the list at the moment.

cc: @abryrath @im-ironclad

[2022-09-08 13:25] tomkiss commented on #79
Thank you, Franco, it's appreciated 🙌

[2022-09-08 13:31] im-ironclad commented on #79
Hey everyone, no promises on timeline but i'll take a look at it this evening. Might be able to get it closed out pre-weekend.

[2022-09-08 13:34] tomkiss commented on #79
Any progress on it would be much appreciated Adam, thank you!

[2022-10-05 10:36] tomkiss commented on #79
Hey @im-ironclad - Just pinging back on this thread as a polite reminder if there's any chance to look at this PR soon :)